html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */


.button-container {
    display: flex;
    gap: 20px;

}

.btnModal {
    color: white;
    padding: 16px;
    border-width: 0px;
    border-radius: 10px;
}

.modal-wrapper {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}

.modalDeleteElement,
.modalRandom {
    max-width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    border-width: 0px;
    background-color: #c84141;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.headerModal {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background: #9a2828;
    align-items: center;
}


.closeModal {
    cursor: pointer;
    width: 24px;
    height: 4px;
}

.closeModal:before,
.closeModal:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background: white;
}

.closeModal:before {
    transform: rotate(45deg);
}

.closeModal:after {
    transform: rotate(-45deg);
}

.headerModalQuestion {
    color: white;
}

.informText {
    color: white;
    margin: 28px 22px 14px;
    text-align: center;
}

.informQuestion {
    color: white;
    text-align: center;

}

.btnsModalClose {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}


.btnSomeEction,
.btnModalDisagree,
.btnModalAgree {
    padding: 10px 46px;
    background: #626262;
    border-width: 0px;
    color: white;
    border-radius: 4px;
}